.Search-Container{
    width: 100%;

   
}

.Search-Form{
display: flex;
justify-content: space-between;
align-items: center;
height: 100%;
gap: 10px;
}


@media (max-width: 769px) {
    .Search-Container{
      margin-top: 20px;
     width: 90%;
     height: 40%;
    }

    .Search-Form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        }

        #btn{
          width: 100%;
        }
   }